.about-page {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .about-title {
    font-size: 2em;
    color: #333;
  }
  
  .about-intro {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .about-heading {
    font-size: 1.5em;
    color: #666;
    margin-top: 20px;
  }
  
  .about-text {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .about-links {
    font-size: 1em;
    color: #0066cc;
  }

  

  .about-penguin-image{
    width: 250px;
    height: 250px;
  }