.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*My edits */

footer {
  background-color: #61dafb;
  height: 238px;
}

.penguin-hero-body{
  height: 2000px;
  width: auto;
  background-size: auto;
  background-repeat: no-repeat;
  padding: 50px;
}
/* Footer row for hyperlink buttons*/

.Row-Foot-Container {
  width: 300px;
}
.Row-Foot-Container ul {
  padding: 0; 
  margin: 0;
  list-style-type: none;
}

.Row-Foot-Container ul li{
  width: 1900px;
  height: 60px;
  /*background-color: whitesmoke;*/
  float: left;
}